body, ul, p, h1, h2, h3, h4{
	margin: 0px;
	padding: 0px;
	
}
body{
	background-color: #EBEBEB;;
}
#wrapper{
	margin: 30px auto;
	width: 890px;
	background-color:white;
}

#menu{
	background-color: orange;
	
}

	#menu ul{
		list-style-type: none;
		padding-left: 20px;
	}

	ul li{
		display: inline-block;
		margin-right: 30px;
		line-height: 50px;
		font-size: 19px;
	}
	
	#menu a:link, #menu a:visited{
		color: white;
		text-decoration: none;
	}
	
	#menu a.active, #menu a:hover{
		text-decoration: underline;
	}

#right{
	float: right;
	width: 250px;
	
}	

#right p{
	text-align: justify;
	padding-right: 20px;
	font-size: 13px;
	margin-top: 10px;
}
	
#right h2{
	font-size: 17px;
	padding-top: 20px;
}

#content{
	margin-right: 250px;
	padding: 20px;
}
	#content h1{
		font-size: 21px;
	}

	#content p{
		padding-top: 10px;
		text-align: justify;
	}

	#content table{
		width: 100%; 
		margin-top: 10px;
	}
	#content td, #content th{
		border: 1px solid black;
		text-align: center;
	}
	#content th{
		background-color: #EBEBEB;
	}

	#content h2{
		font-size: 19px;
		margin-top: 20px;
	}

#footer{
	background-color: orange;
	text-align: center;
	font-size: 13px;
	line-height: 76px;
	color:white;
}	